version: 2

updates:

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: monthly
    assignees:
      - ozgurakgun
    labels:
      - "dependencies"
      - "dependencies::ci"
