out
node_modules
.vscode-test/
nimnodepythonComparison
src/test
**/nimcache/**
**/node_modules/**
src/nim/src/htmldocs
src/nim/nim
src/nim/src/**
!src/nim/src/*.nim
src/nim/tests/**
!src/nim/tests/*.nim
src/webview/ts/coverage
src/webview/ts/spec/support
src/webview/ts/src/controls/*.js*
src/webview/ts/docs
src/webview/ts/test/*.js
src/webview/ts/test/*.js.map

report


