body{
    background-color: var(--background-color);
}

#pane{
    font-size: 18px; 
}

.jsPanel-titlebar .jsPanel-title {
    font-size: 18px; 
}

td, th {
    padding-left: 20px;
}

.node circle {
    fill: #fff;
    stroke: var(--vscode-editorSuggestWidget-highlightForeground);
    stroke-width: 3px;
    transition: stroke 500ms;
}

.selected {
    stroke: salmon !important;
    transition: stroke 500ms;
}

.node text {
    font: 18px sans-serif;
    fill: #fff;
}

label{
    color: #fff;
}

.node--internal text {
    text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
}

.link {
    fill: none;
    stroke: var(--vscode-terminal-ansiGreen);
    stroke-width: 2px;
}