body{
    background-color: var(--background-color);
}

#pane{
    font-size: 16px; 
}

.jsPanel-titlebar .jsPanel-title {
    font-size: 18px; 
}

td, th {
    padding-left: 20px;
}

.changed * {
    color: coral;
}

.node circle {
    fill: #fff;
    stroke: var(--vscode-terminal-ansiBlue);
    stroke-width: 3px;
    transition: stroke 500ms, fill 500ms;
}

circle.hasOthers {
    fill: var(--vscode-terminal-ansiGreen) ;
    transition: stroke 500ms, fill 500ms;
}

circle.selected {
    stroke: salmon;
    transition: stroke 500ms, fill 500ms;
}

.node text {
    font: 18px sans-serif;
    fill: #fff;
}

label{
    color: #fff;
}

.node--internal text {
    text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
}

.link {
    fill: none;
    stroke: var(--vscode-terminal-ansiGreen);
    stroke-width: 2px;
}

.link.red {
    fill: none;
    stroke: red;
    stroke-width: 2px;
}





/* treelist */

li.node {
    position: absolute;
    list-style: none;
    cursor: default;
}
li.node span {
    margin-right: 3px;
    margin-left: 5px;
}

li.node .caret {
    font-size: 10px;
}