<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Essence</string>
	<key>ordering</key>
	<array>
		<string>DD1C9622-36E7-44F5-8A30-3FA80F269404</string>
		<string>7D5C5AD5-1705-4155-8791-4096F70B5510</string>
	</array>
	<key>uuid</key>
	<string>8434766F-C573-427B-8FCF-D6394348EF86</string>
</dict>
</plist>
