snippet lang
	language Essence 1.3

	${1}
snippet eprime
	language ESSENCE' 1.0 

	${1}
snippet mat
	matrix indexed by [${1:int(1..9)}] of ${2:int(1..9)}
snippet fi 
	find ${1} : ${2}
snippet su
	such that
		${1}
snippet fu
	function ${1} ${2} --> ${3:int(1..9)}
snippet pa
	partition ${1} from ${2:int(1..9)}
snippet let
	letting ${1} be domain  ${2:int(1..9)}
snippet gi
	given ${1} : ${2:int(1..9)}
snippet lne
	letting ${1} be new type of size ${2}	
