.navbar {
    background-color: aqua;
    font-size: 50px;
}

a:after {
    font-family:Fontawesome;
    content:'\f077';
    float:right;
    font-size:10px;
    font-weight:300;
}
a.collapsed:after {
    font-family:Fontawesome;
    content:'\f078';
}