name: Make a release

on:
  workflow_dispatch:        # can be triggered manually
  push:
    tags:
      - "v*.*.*"
  pull_request:             # and for PRs
    paths:
      - conjure-cp.cabal
      - Makefile
      - src/**
      - tests/**
      - etc/build/**
      - etc/savilerow/**
      - .github/workflows/release.yml
                            # other branches that want testing must create a PR

permissions:
  contents: write

env:
  RELEASE_VERSION: ${{ github.sha }} # will be overwritten below depending on PR/tag

jobs:
  Job:
    strategy:
      matrix:
        GHC_VERSION: ["9.10"]
        os: [ubuntu-latest, macos-latest]
        include:
          - os: ubuntu-latest
            release_suffix: linux
          - os: macos-latest
            release_suffix: macos

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v6
        name: Checkout repository

      - name: Stack version
        shell: bash
        run: GHC_VERSION=${{ matrix.GHC_VERSION }} make stack.yaml

      - uses: actions/cache@v4
        name: Cache stack
        with:
          path: |
            ~/.stack
            .stack-work
          key: stack-${{ runner.os }}-ghc${{ matrix.GHC_VERSION }}-${{ github.event.repository.updated_at }}
          restore-keys: stack-${{ runner.os }}-ghc${{ matrix.GHC_VERSION }}

      - name: Run sccache-cache
        uses: mozilla-actions/sccache-action@v0.0.9

      - name: Configure compiler wrappers for sccache
        uses: ./.github/actions/setup-sccache

      - name: Setting PATH
        shell: bash
        run: echo "${GITHUB_WORKSPACE}/artefacts/bin" >> ${GITHUB_PATH}

      - name: Build Conjure
        shell: bash
        run: BIN_DIR=${GITHUB_WORKSPACE}/artefacts/bin GHC_VERSION=${{ matrix.GHC_VERSION }} BUILD_TESTS=true make

      - name: Setting PATH (for solvers)
        shell: bash
        run: |
          echo "${GITHUB_WORKSPACE}/artefacts/bin" >> ${GITHUB_PATH}

      # libnuma-dev for runsolver
      # autoconf, cmake, gmp for yices

      - name: Installing dependencies on Linux
        shell: bash
        run: sudo apt-get install -y gperf libnuma-dev
        if: runner.os == 'Linux'

      - name: Installing dependencies on macOS
        shell: bash
        run: brew install autoconf cmake gmp gperf
        if: runner.os == 'macOS'

      - name: Build solvers
        shell: bash
        run: |
          mkdir -p ${GITHUB_WORKSPACE}/artefacts/bin
          mkdir -p ${GITHUB_WORKSPACE}/artefacts/lib
          BIN_DIR=${GITHUB_WORKSPACE}/artefacts/bin PROCESSES=2 make solvers

      - name: Set version string to the commit hash
        run: echo "RELEASE_VERSION=${{ github.sha }}" >> "$GITHUB_ENV"

      - name: Set version string based on trigger (ref_name if on tag)
        run: echo "RELEASE_VERSION=${{ github.ref_name }}" >> "$GITHUB_ENV"
        if: startsWith(github.ref, 'refs/tags/')

      - name: Set version string based on trigger (PR number if a PR)
        run: echo "RELEASE_VERSION=${{ github.event.pull_request.number }}" >> "$GITHUB_ENV"
        if: github.event_name == 'pull_request'

      - name: Create the zip archives
        shell: bash
        run: |
          pushd ${GITHUB_WORKSPACE}

          find artefacts -type f

          rm -rf conjure-${RELEASE_VERSION}-${{ matrix.release_suffix }}-with-solvers
          cp -r artefacts conjure-${RELEASE_VERSION}-${{ matrix.release_suffix }}-with-solvers

          rm -rf conjure-${RELEASE_VERSION}-${{ matrix.release_suffix }}
          mkdir conjure-${RELEASE_VERSION}-${{ matrix.release_suffix }}
          cp -r artefacts/bin/conjure conjure-${RELEASE_VERSION}-${{ matrix.release_suffix }}

          zip -r -9 conjure-${RELEASE_VERSION}-${{ matrix.release_suffix }}.zip conjure-${RELEASE_VERSION}-${{ matrix.release_suffix }}
          zip -r -9 conjure-${RELEASE_VERSION}-${{ matrix.release_suffix }}-with-solvers.zip conjure-${RELEASE_VERSION}-${{ matrix.release_suffix }}-with-solvers

          pwd
          ls -l
          du -sh conjure-${RELEASE_VERSION}-${{ matrix.release_suffix }}*

          popd

      - name: Upload zip archives as build artefacts (conjure only)
        uses: actions/upload-artifact@v6
        with:
          name: conjure-${{ env.RELEASE_VERSION }}-${{ matrix.release_suffix }}
          compression-level: 9
          path: ${{ github.workspace }}/conjure-${{ env.RELEASE_VERSION }}-${{ matrix.release_suffix }}.zip
          if-no-files-found: error

      - name: Upload zip archives as build artefacts (conjure and solvers)
        uses: actions/upload-artifact@v6
        with:
          name: conjure-${{ env.RELEASE_VERSION }}-${{ matrix.release_suffix }}
          compression-level: 9
          path: ${{ github.workspace }}/conjure-${{ env.RELEASE_VERSION }}-${{ matrix.release_suffix }}-with-solvers.zip
          if-no-files-found: error

      - name: Create Release
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          name: ${{ env.RELEASE_VERSION }}
          draft: false
          prerelease: false
          generate_release_notes: true
          files: |
            conjure-${{ env.RELEASE_VERSION }}-${{ matrix.release_suffix }}.zip
            conjure-${{ env.RELEASE_VERSION }}-${{ matrix.release_suffix }}-with-solvers.zip
