name: Running all tests

on:
  workflow_dispatch:        # can be triggered manually
  push:
    branches:
      - main                # run for the main branch
    paths:
      - conjure-cp.cabal
      - Makefile
      - Dockerfile          # this is here because publish-ghcr.yml depends on successful completion of this action
      - src/**
      - tests/**
      - etc/build/**
      - etc/hs-deps/**
      - etc/savilerow/**
      - .github/workflows/test.yml
  pull_request:             # and for PRs
    paths:
      - conjure-cp.cabal
      - Makefile
      - src/**
      - tests/**
      - etc/build/**
      - etc/hs-deps/**
      - etc/savilerow/**
      - .github/workflows/test.yml
                            # other branches that want testing must create a PR

env:
  SCCACHE_GHA_ENABLED: "true"

jobs:

  Job:

    strategy:
      matrix:
        GHC_VERSION: ["9.10"]
        os: [ubuntu-latest]

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v6
        name: Checkout repository

      - name: Stack version
        shell: bash
        run: make stack.yaml

      - uses: actions/cache@v4
        name: Cache stack
        with:
          path: |
            ~/.stack
            .stack-work
          key: stack-${{ runner.os }}-ghc${{ matrix.GHC_VERSION }}-${{ github.event.repository.updated_at }}
          restore-keys: stack-${{ runner.os }}-ghc${{ matrix.GHC_VERSION }}

      - name: Run sccache-cache
        uses: mozilla-actions/sccache-action@v0.0.9

      - name: Setting PATH
        shell: bash
        run: echo "${HOME}/.local/bin" >> ${GITHUB_PATH}

      - name: Install Conjure
        shell: bash
        run: BIN_DIR=${HOME}/.local/bin BUILD_TESTS=true make

      - name: Install Minion
        shell: bash
        run: BIN_DIR=${HOME}/.local/bin etc/build/install-minion.sh

      - name: Install Chuffed
        shell: bash
        run: BIN_DIR=${HOME}/.local/bin etc/build/install-chuffed.sh

      - name: Install Cadical
        shell: bash
        run: BIN_DIR=${HOME}/.local/bin etc/build/install-cadical.sh

      - name: Install Kissat
        shell: bash
        run: BIN_DIR=${HOME}/.local/bin etc/build/install-kissat.sh

      - name: Install GNU Parallel
        shell: bash
        run: BIN_DIR=${HOME}/.local/bin etc/build/install-gnu-parallel.sh

      - name: Run tests
        shell: bash
        run: BIN_DIR=${HOME}/.local/bin LIMIT_TIME=0 make test

